
.sprint-header {
    font-size: 1.5rem;
    height: 30px;
    margin-bottom: 1rem;
}

$notAcceptedColor:  rgb(255, 180, 171);
$acceptedColor:  rgb(174, 241, 97);

.risks {
    height: 200px;
    margin-bottom: 1rem;


    .risk-heading {
        height: 1rem;
        margin-bottom: 1rem;

        &.open {
            color: $notAcceptedColor;
        }

        &.closed {
            color: $acceptedColor;
        }
    }

    .risk-body {
        height: calc(200px - calc(48px + 2.5rem));
        overflow: hidden;

        .risk-text {
            margin-top: .2rem;
            height: 0.8rem;
            font-size: 0.8rem;
            color: $notAcceptedColor;

            text-wrap: nowrap;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.accepted {
                color: $acceptedColor;
            }
        }
    }

    .risk-button {
        margin-top: .5rem;
        height: 48px;
    }
}

.tickets {

    // 2rem margin from .ticket-column
    // 3 rem from this file (1rem each .sprint-header, .risks, .stats)
    // total 5rem

    // 130px + 200px + 30px = 360px
    height: calc(100% - calc(360px + 5rem));
    overflow: auto;
}

.stats {
    margin-top: 1rem;
    height: 130px;
    display: flex;
    flex-direction: column;

    button {
        margin-top: 1rem;
    }

    .stat {
        display: flex;
        flex-direction: row;
        margin-top: .5rem;

        font-size: 1.2rem;
        .stat-name {
            width: 300px;
        }
        .stat-value {
            text-align: end;
            font-weight: bold;
        }
    }
}