<div class="ticket-column">
    <div class="sprint-header">
        {{ (sprint$ | async).name }}
    </div>
    <div class="risks">
        <div class="risk-heading" [ngClass]="riskStatus$ | async" i18n>
            Risks: {{ (risks$ | async).length }}
        </div>
        <div class="risk-body">
            <div *ngFor="let risk of risks$ | async" [class.accepted]="risk.accepted" class="risk-text">{{risk.text}}
            </div>
        </div>
        @if ((risks$ | async).length) {
        <button mat-button (click)="openRiskDialog()" i18n>Details/Add Risk</button>
        } @else {
        <button mat-button (click)="openRiskDialog()" i18n>Add Risk</button>
        }
    </div>
    <div class="tickets" cdkDropList [id]="dropListId" [cdkDropListConnectedTo]="connectedDropLists$ | async" (cdkDropListDropped)="onTicketDrop($event)">
        <app-ticket-card cdkDrag [cdkDragData]="ticket" [ticket]="ticket" *ngFor="let ticket of tickets$ | async"></app-ticket-card>
    </div>
    <div class="stats">
        <div class="stat">
            <div class="stat-name" i18n>Capacity:</div>
            <div class="stat-value">{{ capacity$ | async }}%</div>
        </div>
        <div class="stat">
            <div class="stat-name" i18n>Background Noise:</div>
            <div class="stat-value">{{ backgroundNoise$ | async }}%</div>
        </div>
        <button mat-button (click)="editStats()" i18n>
            Edit
        </button>
    </div>
</div>