<mat-card appearance="outlined" [class.highlight-unfullfilled]="isHighlightUnfullfilledDependency$ | async" [class.highlight-fullfilled]="isHighlightFullfilledDependency$ | async" [cdkContextMenuTriggerFor]="contextMenu" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
    <mat-card-header>
        <span>{{ ticket?.title }}</span>
        @if(mode === 'dependency') {
            <span class="squad-name">{{ ticket?.squadId | squadName | async }}</span>
        }
    </mat-card-header>
    <mat-card-content>
        <div class="dependency-container">
            <div class="item-container">
                @if(dependenciesCount$ | async) {
                <div class="item" [class.fullfilled]="dependenciesFullfilled$ | async" (click)="addDependency()">
                    <mat-icon>
                        keyboard_tab
                    </mat-icon>
                    <span>
                        {{ dependenciesCount$ | async }}
                    </span>
                </div>
                }
            </div>
            <div class="item-container">
                @if(dependantsCount$ | async) {
                <div class="item" [class.fullfilled]="dependantsFullfilled$ | async" (click)="addDependency()">
                    <mat-icon>
                        start
                    </mat-icon>
                    <span>
                        {{ dependantsCount$ | async }}
                    </span>
                </div>
                }
            </div>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #contextMenu>
    <div class="example-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem (click)="edit()" i18n>Edit</button>
        <button class="example-menu-item" cdkMenuItem (click)="addDependency()" i18n>Edit Dependencies</button>
        <button class="example-menu-item" cdkMenuItem (click)="delete()" i18n>Delete</button>
    </div>
</ng-template>