.squad-board {
    display: flex;
    overflow: hidden;
    height: 100%;
    
    .inner-squad-board {
        height: 100%;
        width: 100%;
        flex: 1;
        display: flex;
        

        .sprints {
            width: calc(100% - 400px);
            height: 100%;
            overflow-y: hidden;
            overflow-x: auto;
        }

        app-backlog-column {
            width: 400px;
            height: 100%;
            display: block;
        }
    }
}