/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$displays: "flex", "none";

@each $display in $displays {
    .d-#{$display} {
        display: #{$display};
    }
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.form-width {
    width: 450px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.floating-card {
    border-radius: .5rem;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    padding: 2rem;
}